.tourism-form-wrapper {
    margin-bottom: 60px;

    .tourism-form-inputs {
        display: flex;
        margin-bottom: 16px;

        .tourism-form-title {
            margin: 0 0 32px;
            font-family: "Poppins";
            font-weight: 700;
            font-size: 32px;
            color: $gray-500;
        }

        .tourism-form {
            max-width: 721px;
        }

        .tourism-form-item-wrapper {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .tourism-form-input {
            display: block;
            border: 2px solid $gray-300;
            border-radius: 8px;
            padding: 0 16px;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $gray-100;
        }

        .tourism-form-image-input {
            flex: 1;
            height: 212px;
            max-width: 288px;
            margin-right: 16px;
            padding: 94px 50px;
        }

        .tourism-form-title-input {
            height: 56px;
            margin-bottom: 16px;
            max-width: 328px;
        }

        .tourism-form-description-input {
            flex: 1;
            resize: none;
            padding: 16px;
        }
    }

    .tourism-form-button {
        height: 56px;
        padding: 0 20px;
        background: $red;
        border: 0;
        border-radius: 8px;
        color: $white;
        font-weight: 700;
        font-family: "Poppins";
        margin-left: auto;
        display: block;

        &:hover {
            background: $red-200;
        }
    }
}

@media only screen and (max-width: 414px) {
    .tourism-form-item-image {
        width: 288px;
        height: 212px;
        margin-left: 18px;
    }

    .tourism-form-item-input {
        width: 340.91px;
        height: 54px;
        margin-top: 17px;
        margin-left: 18px;
    }

    .tourism-form-item-description {
        width: 340.91px;
        height: 131.14px;
        margin-top: 18px;
        margin-left: 18px;
    }

    .tourism-form-subimit-button {
        width: 100%;
        max-width: 343px;
        height: 56px;
        padding: 18.43 730;
        margin-top: 10px;
        margin-left: 18px;
    }
}

@media screen and (max-width: 1024px) {
    .tourism-form-wrapper {
        margin-top: 16px;
    }
}

@media screen and (max-width: 820px) {
    .tourism-form-wrapper {
        max-width: 700px;
    }
}

@media screen and (max-width: 600px) {
    .tourism-form-inputs {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .tourism-form-button {
        width: 100%;
        max-width: 400px;
    }

    .tourism-form-title-input {
        max-width: 343px;
    }

    .tourism-form-description-input {
        height: 136px;
    }
}

@media screen and (max-width: 412px) {
}

@media screen and (max-width: 375px) {
}
