.tourism-points-container {
    max-width: 1176px;
    margin: 0 auto;
    padding: 0 16px;
}

.tourism-points-title {
    margin: 0 0 32px;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 32px;
    color: $gray-500;
}

.tourism-points-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 16px;
}

.tourism-point {
    display: flex;
    align-items: center;
    background: $white;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.tourism-point-image {
    display: block;
    width: 100%;
    max-width: 288px;
    height: 212px;
    object-fit: cover;
}

.tourism-point-text {
    padding: 0 24px;
}

.tourism-point-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
    margin-bottom: 8px;
}

.tourism-point-description {
    font-size: 16px;
    line-height: 24px;
    color: $gray-100;
}

@media only screen and (max-width: 414px) {
    .tourism-title {
        width: 332px;
        height: 76px;
    }

    .tourism-points-title {
        margin-top: 68px;
    }
}

@media screen and (max-width: 1024px) {
    .tourism-points-container {
        max-width: 980px;
        margin: 0 auto;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 912px) {
    .tourism-points-grid {
        display: flex;
        flex-direction: column;
        max-width: 750px;
    }

    .tourism-points-container {
        margin-left: 70px;
    }
}

@media screen and (max-width: 820px) {
    .tourism-points-container {
        margin-right: 75px;
    }
}

@media screen and (max-width: 600px) {
    .tourism-point {
        flex-direction: column;
    }

    .tourism-points-container {
        max-width: 400px;
    }

    .tourism-points-grid {
        display: flex;
        flex-direction: column;
    }
}
